<!DOCTYPE html>
<html lang="en">
  <head>
 
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles/main.css" />
    <title>Blog book</title>

  </head>
  <body>
    <div class="uppearNav">
      <div class="nav">
        <p class="book">Blogs</p>
        <div class="nav2">
          <div class="home-btn"><a href="/" class="home">Home</a></div>
          <div class="home-btn"><a href="/Post" class="home">posting</a></div>
          <div class="home-btn"><a href="/About" class="home">About</a></div>
          <div class="home-btn">
            <a href="/contact" class="home">Contact</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
